<!-- This is a simple html template that is using jinja to replace title
information and can replace whatever ytou want using variables that are 
passed to it. -->
<html>
    <head>
        {% if title %}
        <title>{{ title }} - Golden RedHat Awards 2019</title>
        {% else %}
        <title>Welcome to the Golden RedHat Awards 2019</title>
        {% endif %}
    </head>
    <body>
        Just an example that a webpage can be made and given the data to be put in a table or whatever
    </body>
</html>